.footer {
    background-color: $footer-background;
    border-top: 2px solid $btn-text;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 30px 50px;
    @media screen and (max-width: $lg) {
        flex-direction: column;
        gap: 30px;
    }
    .footer-icons-list {
        width: 60%;
        list-style: none;
        @media screen and (max-width: $lg) {
            width: 90%;
        }
        .footer-icons-list--item {
            margin-top: 10px;
            @media screen and (max-width: $lg) {
                text-align: center;
            }
            .footer-icons-list--item-link {
                @include def_text("Georgia", normal, 200, 18px, 100%, white);
                text-decoration: none;
            }
        }
    }
    .footer--form {
        width: 30%;
        display: flex;
        flex-direction: column;
        gap: 9px;
        @media screen and (max-width: $lg) {
            width: 90%;
        }
        .footer--form__input {
            @include def_text("Georgia", normal, 200, 20px, 100%, $btn-text);
            color: $btn-text;
            border: none;
            border-radius: 0.2rem;
            ::placeholder {
                color: $btn-text;
            }
        }
        .footer--form__button {
            @include def_btn($footer-btn, 0, 5px 36px, none);
            @include def_text("Georgia", normal, 200, 25px, 100%, $btn-text);
            cursor: pointer;
        }
    }
}
