$main-black: #0B0909;
$dark-grey: #44444C;
$grey: #8C8C8C;
$main-white: #ffffff;

$main-background-gradient-first: #0b0909c9;
$main-background-gradient-second: #0b0909c0;

$accent-color: #bd9e80;
$btn-text: #13100e;
$image-url: url("../images/main-section-background.jpg");

$lg: 992px;