@import "./_functions.scss";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@import "./main-section";
@import "./advantages-section";
@import "./advertisement-section";
@import "./recipes-section";
@import "./footer-style";