* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.main-section {
  background-image: linear-gradient(180deg, rgba(11, 9, 9, 0.7882352941), rgba(11, 9, 9, 0.7529411765), #13100e), url("../images/main-section-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
  padding: 3%;
}
@media screen and (max-width: 992px) {
  .main-section {
    padding: 5% 0;
  }
}
.main-section .main-section__text-area {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vw;
}
.main-section .main-section__text-area .main-section__text-area--title {
  text-align: center;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 500;
  font-size: 87.44px;
  line-height: 110.5%;
  color: #ffffff;
}
@media screen and (max-width: 992px) {
  .main-section .main-section__text-area .main-section__text-area--title {
    font-family: "Georgia";
    font-style: normal;
    font-weight: 500;
    font-size: 67.44px;
    line-height: 110.5%;
    color: #ffffff;
  }
}
.main-section .main-section__text-area .main-section__text-area--text {
  text-align: center;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 200;
  font-size: 28.44px;
  line-height: 110.5%;
  color: #ffffff;
}
.main-section .main-section__text-area .main-section__text-area--button {
  min-width: 40%;
  margin-top: 20px;
  background-color: #bd9e80;
  border-radius: 2rem;
  padding: 14px 36px;
  border: none;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 200;
  font-size: 25px;
  line-height: 100%;
  color: #13100e;
}
.main-section .main-section__text-area .main-section__text-area--button:hover {
  cursor: pointer;
}
@media screen and (max-width: 992px) {
  .main-section .main-section__text-area {
    width: 80%;
  }
}
.main-section .main-section__img-area {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-section .main-section__img-area .main-section__img-area--img {
  width: 30vw;
  height: 30vw;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 992px) {
  .main-section .main-section__img-area .main-section__img-area--img {
    width: 70vw;
    height: 70vw;
  }
}
@media screen and (max-width: 992px) {
  .main-section .main-section__img-area {
    margin-top: 5%;
  }
}
@media screen and (max-width: 992px) {
  .main-section {
    flex-direction: column;
  }
}

.advantages-section {
  background-color: #13100e;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
  justify-items: center;
  padding: 15vh 0;
}
@media screen and (max-width: 992px) {
  .advantages-section {
    grid-template-columns: 1fr;
    padding: 8vh 0;
  }
}
.advantages-section .advantages-section--block {
  background-color: #bd9e80;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vh;
  padding: 8% 0%;
  text-align: center;
  border-radius: 2rem;
}
@media screen and (max-width: 992px) {
  .advantages-section .advantages-section--block {
    margin-top: 7%;
  }
}
.advantages-section .advantages-section--block .advantages-section--block__img {
  width: 64px;
  height: 64px;
  -o-object-fit: cover;
     object-fit: cover;
}
.advantages-section .advantages-section--block .advantages-section--block__text {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  line-height: 100%;
  color: #13100e;
  width: 70%;
}

.advertisement-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 80vh;
  padding: 3%;
  background: linear-gradient(180deg, #13100e, #4e382a);
}
@media screen and (max-width: 992px) {
  .advertisement-section {
    padding: 5% 0;
  }
}
.advertisement-section .advertisement-section__text-area {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vw;
}
.advertisement-section .advertisement-section__text-area .advertisement-section__text-area--title {
  text-align: center;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 500;
  font-size: 87.44px;
  line-height: 110.5%;
  color: #ffffff;
}
@media screen and (max-width: 992px) {
  .advertisement-section .advertisement-section__text-area .advertisement-section__text-area--title {
    font-family: "Georgia";
    font-style: normal;
    font-weight: 500;
    font-size: 67.44px;
    line-height: 110.5%;
    color: #ffffff;
  }
}
.advertisement-section .advertisement-section__text-area .advertisement-section__text-area--text {
  text-align: center;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 200;
  font-size: 28.44px;
  line-height: 110.5%;
  color: #ffffff;
}
.advertisement-section .advertisement-section__text-area .advertisement-section__text-area--button {
  min-width: 40%;
  margin-top: 20px;
  background-color: #bd9e80;
  border-radius: 2rem;
  padding: 14px 36px;
  border: none;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 200;
  font-size: 25px;
  line-height: 100%;
  color: #13100e;
}
.advertisement-section .advertisement-section__text-area .advertisement-section__text-area--button:hover {
  cursor: pointer;
}
@media screen and (max-width: 992px) {
  .advertisement-section .advertisement-section__text-area {
    width: 80%;
  }
}
.advertisement-section .advertisement-section__img-area {
  width: 30vw;
  height: 30vw;
  border-radius: 2rem;
  -o-object-fit: cover;
     object-fit: cover;
  background-image: linear-gradient(90deg, #13100e, rgba(19, 16, 14, 0.0823529412)), url("../images/adv-section-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (max-width: 992px) {
  .advertisement-section .advertisement-section__img-area {
    width: 70vw;
    height: 70vw;
    margin-top: 5%;
    background-image: url("../images/adv-section-img.jpg");
  }
}
@media screen and (max-width: 992px) {
  .advertisement-section {
    flex-direction: column;
  }
}

.recipes-section {
  display: grid;
  background-color: #4e382a;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  padding: 10px 20px;
}
@media screen and (max-width: 992px) {
  .recipes-section {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2 1fr);
  }
}
.recipes-section .recipes-section__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #bd9e80;
  border-radius: 2rem;
  padding: 10px;
}
.recipes-section .recipes-section__block .recipes-section__block--img-container {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  border: 3px solid #13100e;
  padding: 6px;
  border-radius: 2rem;
}
.recipes-section .recipes-section__block .recipes-section__block--img-container .recipes-section__block--img {
  width: 15vw;
  height: 15vw;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 2rem;
}
@media screen and (max-width: 992px) {
  .recipes-section .recipes-section__block .recipes-section__block--img-container .recipes-section__block--img {
    width: 25vw;
    height: 25vw;
  }
}
.recipes-section .recipes-section__block .recipes-section__block--text {
  text-align: center;
  width: 80%;
  text-align: center;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 200;
  font-size: 20px;
  line-height: 100%;
  color: #13100e;
}/*# sourceMappingURL=page-style.css.map */